---
import { ChevronsDown } from "@lucide/astro";
import styles from "./Hero.module.css";
---

<section class={styles.hero}>
  <h1>Welcome! Don't stay too long <span class={styles.emoji}>🙂</span></h1>
  <p>
    I'm <code>Khye Chun</code>, a software developer focusing mainly on
    frontend development. I have several years of experience in shipping
    bugs, destroying our backend with too many requests and force pushing to
    shared branches by accident
  </p>
</section>
<div class={styles.scrollIndicator} id="scroll-indicator">
  <span>Scroll down to learn more about me</span>
  <ChevronsDown size={24} />
</div>

<script>
  const scrollIndicator = document.getElementById("scroll-indicator");

  window.addEventListener("scroll", () => {
    if (scrollIndicator) {
      if (window.scrollY > 50) {
        scrollIndicator.style.opacity = "0";
        scrollIndicator.style.pointerEvents = "none";
      } else {
        scrollIndicator.style.opacity = "0.6";
        scrollIndicator.style.pointerEvents = "auto";
      }
    }
  });
</script>
